body {
  background: black;
  color: lime;
}

.App {
  text-align: center;
  padding: 5%;
}

.appTitle {
  font-size: 180%;
}

/*profile styling*/

.profile {
  display: flex;
  justify-content: center;
}

.profile-info {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  width: 300px;
  height: 300px;
  border: 3px solid lime;
  border-radius: 35px;
  object-fit: cover;
}

.profile-name {
  font-size: 150%;
}

.profile-followers, .profile-genres {
  font-size: 100%;
}

/*gallery styling*/

.track {
  display: inline-block;
  height: 220px;
  width: 220px;
  margin: 1%;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.track-img {
  height: 220px;
  width: 220px;
  border: 1px solid lime;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
}

.track-text {
  background-color: black;
  opacity: 0.8;
  width: 214px;
  margin-left: 3px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 5px;
}
